* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* FOND */
body {
    min-height: 100vh;
    background-image: url("lobby.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* MENU */
nav {
    position: fixed;
    width: 100%;
    height: 70px;
    background: (0,0,0,0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    z-index: 10;
}

/* LOGO */
.logo {
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 5px;
    color: white;
    transition: 0.3s;
}

.logo:hover {
    color: #00c6ff;
    transform: scale(1.1);
}

/* MENU LIENS */
nav ul {
    display: flex;
    gap: 35px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: #00c6ff;
}

/* CONTENU */
.overlay {
    min-height: 100vh;
    background: rgba(0,0,0,0.7);
    color: white;
    text-align: center;
    padding-top: 140px;
}

/* TEXTES */
h1 {
    font-size: 70px;
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 25px;
}

p {
    width: 60%;
    margin: auto;
    font-size: 20px;
    margin-bottom: 60px;
}

/* SECTION SPLIT */
.split-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 10px 5%;   /* plus petit = plus haut */
    margin-top: -40px; /* remonte encore */
    flex-wrap: nowrap;
}


/* VIDEO */
.video-side {
    flex: 1.6;
    min-width: 50px;
}

.video-box {
    width: 100%;
    max-width: 900px;
    margin: auto;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0 20px 60px rgba(0,0,0,0.8);
}

.video-box iframe {
    width: 100%;
    height: 525px;
    border: none;
}

/* CARTES */
.buttons-side {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    flex: 1;
    min-width: 360px;
}

.card {
    background: rgba(0,0,0,0.8);
    padding: 50px;
    border-radius: 22px;
    width: 360px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-12px) scale(1.06);
}

.card h3 {
    margin-bottom: 30px;
    font-size: 26px;
}

.btn {
    display: inline-block;
    padding: 16px 44px;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    color: white;
    text-decoration: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.12);
}

/* ANIMATIONS */
.fade {
    opacity: 0;
    animation: fadeIn 1.3s forwards;
}

.slide {
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 1.3s forwards;
}

.delay {
    animation-delay: 0.5s;
}

.delay2 {
    animation-delay: 1s;
}

@keyframes fadeIn {
    to { opacity: 1; }
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* MOBILE */
@media (max-width: 800px) {
    .split-section {
        flex-direction: column;
        gap: 50px;
    }

    .video-box iframe {
        height: 300px;
    }

    h1 {
        font-size: 48px;
    }

    p {
        width: 90%;
    }
}
